<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
      <h3>Sorry, this page couldn't be found!</h3>
    </div>

    <%- include('./partials/footer.ejs') %>
    
  </body>
</html>