<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores animi amet omnis alias quaerat eum nulla velit, atque architecto?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores animi amet omnis alias quaerat eum nulla velit, atque architecto?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores animi amet omnis alias quaerat eum nulla velit, atque architecto?</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

  </body>
</html>